@page
@using Manage_Store.Entity
@model Manage_Store.Pages.ImportNew

@{
    ViewData["Title"] = "Tao don hang moi";
}

<!DOCTYPE html>

<html>
<head>
    <title>Tao don hang moi</title>
<h4>Ma don Nhap Kho:<strong>#@Model.NewImportId</strong></h4>
</head>
<body>
<div>
<<<<<<< Updated upstream
    Thong tin san pham:<br/>
    Ten: @Model.ItemName<br/>
    Cty San suat: @Model.ItemManuf<br/>
    So luong trong kho: @Model.ItemQty.ToString("0")
    <section>
        <form method="post">
            <label>Ngay Nhap kho</label>
            <input type="date" name="ImportDate" required="required"/><br/>
            <label>So luong:</label>
            <input type="number" name="ImportQty" min="0" step="1" required="required"/><br/>
            <input type="submit" value="Nhap kho"/> <input type="button" onclick="window.location.href='/index'" value="tro ve"/>
        </form></section>
    @{
        if (string.IsNullOrEmpty(@Model.Notification))
=======
    Thong tin mat hang:<br/>
    Ten san pham: @Model.CurrentItem.Name <br/>
    Nha san xuat: @Model.CurrentItem.Manufacture<br/>
    So luong trong kho: @Model.CurrentItem.Qty.ToString("0")<br/>
    <form method="post">
        <label for="Nhap Hang">So luong nhap kho</label>
        <input type="number" min="1" max="9999" value="ImportValue"/><br/>
        <label for = "Ngaynhap"></label>
        <input type="date" name="ImportDate"/>
        <input type="submit"/>
    </form>
    <button class="btn-outline-secondary" onclick="window.location.href='/Index'">Tro ve</button>
</div>
<div class="alert-warning">@Model.Notification</div>
@{
        if (Model.RequestStatus)
>>>>>>> Stashed changes
        {
            switch (@Model.Status)
            {
                case true:
                    Response.Redirect("/index");
                    break;
                case false:
                    <p class="alert-warning">@Model.Notification</p>;
                    break;
            }
        }
    }
</div>
</body>
</html>