@page
@using Microsoft.AspNetCore.Http.Features
@using Manage_Store.Entity
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<header>
  <h1 class="h1">Kho Hang</h1>
</header>
<body>
<h6>Chuc Nang</h6><br/>
<section class="btn-group-lg">
        <button class="btn btn-outline-primary" onclick="window.location.href='/ItemCreate'">Tao San Pham Moi</button>
        <button class="btn btn-outline-primary" onclick="window.location.href='/LabelCreate'">Cap Nhat Loai Hang</button>
    </section>

<section>
    <fieldset class="border-primary">
        <legend title="Tim kiem">
            <form method="post">
                <label for="find" class="form-label">Chuc nang tim kiem</label>
                <select name="choicefunc">Tim theo:
                    <option value="0">Tat ca</option>
                    <option value="1">Ma San Pham</option>
                    <option value="2">Ten San pham</option>
                    <option value="3">Ten Cong Ty</option>
                    <option value="4">Loai Hang</option>
                </select>
                <label for="keyword">Keyword</label>
                <input type="text" name="keyword" value="@Model.Keyword"/>
                <input type="submit" value="Tim kiem"/>
            </form>
        </legend>
    </fieldset>
</section>
<section1>
    <table title="San Pham trong kho" class="table">
        <h1 class="align-self-xxl-center"> Danh Sach San Pham</h1>
        <tr class="text-center table-primary">
            <th>Ma san pham</th>
            <th>Ten</th>
            <th>Cty San Xuat</th>
            <th>So luong</th>
            <th>Ngay san xuat</th>
            <th>Han su dung</th>
            <th>Gia</th>
            <th>Loai</th>
            <th>Chuc Nang</th>
        </tr>
        
            @{
                foreach (StrucItem Item in @Model.ItemsShow)
                {
                    <tr>
                        <td>@Item.Id</td>
                        <td>@Item.Name</td>
                        <td>@Item.Manufacture</td>
                        <td>@Item.Qty.ToString("N0")</td>
                        <td>@Item.Mfg</td>
                        <td>@Item.Exp</td>
                        <td>@Item.Price.ToString("N0")</td>
                        <td>@Item.Label</td>
                        <td>
                            <button class="btn btn-outline-secondary" onclick="window.location.href='/ImportNew?ItemId=@Item.Id'">Nhap Hang</button>
                            <button class="btn btn-outline-secondary" onclick="window.location.href='/itemupdate?id=@Item.Id'">Cap Nhat</button>
                            <button class="btn btn-outline-secondary" onclick="window.location.href='/itemremove?id=@Item.Id'">Xoa</button>
                        </td>
                    </tr>
                }
            }
    </table>
</section1>
</body>